#hero {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 50vh; /* Ajusta la altura según tus necesidades */
}

#que-hacemos {
    background: #FFFFFF;
}


@media (min-width: 1200px) {
    .navbar-end {
        position: absolute;
        right: 10rem!important;
    }
  }




.push-end {
    right: 0!important;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-image {
    margin-right: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    display:inline-block;
    vertical-align:middle;
}
.profile-image img{
    width:100%;
}

.profile-name {
    flex: 1;
    text-align: right;
    font-size: 2.5rem;
}

   
.proyectos .proyectos-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.proyectos .proyectos-item .proyectos-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
.proyectos .proyectos-item .proyectos-item-caption:hover {
    opacity: 1;
}